<div class="container">
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Eduard modal
  </button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">{{heading}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body" *ngIf="!activeList">{{body}}</div>
        <div class="modal-body" *ngIf="activeList">
          <div class="list-group" width="auto" id="list-tab" role="tablist">
            <a *ngFor="let selOfList of listSelect"
            class="list-group-item"
            [class.active]="clicked === selOfList"
            id="list-home-list"
            (click)="clicked = (clicked === selOfList ? null :selOfList)"
            >
            {{selOfList}}
          </a>
        </div>

        <!-- Acá pones los botones Modal footer -->
        <div class="modal-footer">
          <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
          [title]="btnAceptar.disabled ? 'Debe seleccionar un valor de la lista' : 'continuar'">
          <!-- title="Disabled tooltip"> -->
          <button type="button" [disabled]="clicked === selOfList" #btnAceptar class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </span>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

</div>
